@{ 
	string activeMenu = ViewBag.ActiveMenu as string;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tennis Market Plus @ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Html.Partial("_CustomStyle" + Utils.ThemeCode)
	@RenderSection("styles", required: false)

</head>
<body>
	@Html.Partial("_TopNav")
	<div id="body-container" class="container-fluid body-content">
		<div class="row">
			<div id="sidebar" class="col-md-3">
				@RenderSection("sidebar", required: true)
			</div>
			<div id="alerts-noform" class="alert alert-warning fadealert" role="alert">Search and filter are not yet available.</div>
			<div id="content-container" class="col-md-9">
				<div id="subnav" class="navbar navbar-@Html.If(Utils.ThemeCode == "1", "default", "inverse")">
					<ul class="nav navbar-nav">
						<li class="@Html.If(activeMenu == "Home", "active")"><a href="/">Home</a></li>
						<li class="@Html.If(activeMenu == "Academies", "active")"><a href="/Academies">Academies</a></li>
						<li class="@Html.If(activeMenu == "Store", "active")"><a href="/Store">Store</a></li>
					</ul>
				</div>
				@RenderBody()
			</div>
		</div>
	</div>
	<hr />
	<footer>
		<p>&copy; @DateTime.Now.Year - Indasys LLC</p>
	</footer>


	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<script>
		$(function () {
			$('form').submit(function (e) {
				e.preventDefault();
				showAlert('#alerts-noform');
			});
		});
		function showAlert(selector, fade) {
			fade = fade || 3000;
			$(selector).fadeIn({
				complete: function () {
					setTimeout(function () { $(selector).fadeOut(); }, fade);
				}
			});
		}
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>
